<html>
    <head>
        <title>Signage Admin</title>
        <link type="text/css" rel="stylesheet" href="/static/main.css" />
    </head>
    <body>
        <div id="navbar">
            <p id="titletext">Signage</p>
            <a id="logout" class="button" href="/logout">Logout</a>
        </div>
        <div id="contentdiv">
            <div class="pi">
                <div class="leftdiv">
                    <p class="piname">Curie</p>
                    <br>
                    <img class="landscapescreenshot" src="/static/169.jpg" />
                </div>
                <div class="rightdiv">
                    <div class="online">
                        <img src="/static/check.svg" class="onlineimage"/>
                        <p class="onlinetext">ONLINE</p>
                    </div>
                    <form>
                        <button class="button" name="reboot" value="PLACEHOLDER">
                        <img class="buttonicon" src="/static/reboot.svg" />
                        Reboot
                        </button>
                    </form>
                    <br>
                    <a class="button" href="/terminal/PLACEHOLDER">
                        <img class="buttonicon" src="/static/terminal.svg" />
                        Terminal
                    </a>
                    <br>
                    <a class="button" href="/vnc/PLACEHOLDER">
                        <img class="buttonicon" src="/static/monitor.svg" />
                        VNC
                    </a>
                </div>
            </div>
            <div class="pi">
                <div class="leftdiv">
                    <p class="piname">Galileo</p>
                    <br>
                    <img class="landscapescreenshot" src="/static/169.jpg" />
                </div>
                <div class="rightdiv">
                    <div class="offline">
                        <img src="/static/x.svg" class="offlineimage"/>
                        <p class="offlinetext">OFFLINE</p>
                    </div>
                    <form>
                        <button class="button" name="reboot" value="PLACEHOLDER">
                        <img class="buttonicon" src="/static/reboot.svg" />
                        Reboot
                        </button>
                    </form>
                    <br>
                    <a class="button" href="/terminal/PLACEHOLDER">
                        <img class="buttonicon" src="/static/terminal.svg" />
                        Terminal
                    </a>
                    <br>
                    <a class="button" href="/vnc/PLACEHOLDER">
                        <img class="buttonicon" src="/static/monitor.svg" />
                        VNC
                    </a>
                </div>
            </div>
        </div>
    </body>
</html>
