<html>
    <head>
        <title>Signage Admin</title>
        <link type="text/css" rel="stylesheet" href="/static/main.css" />
    </head>
    <body>
        <div id="navbar">
            <p id="titletext">Signage</p>
            <a id="logout" class="button" href="/logout">Logout</a>
        </div>
        <div id="contentdiv">
            {% for sign in all_signs %}
            <div class="pi">
                <div class="leftdiv">
                    <p class="piname">{{ sign.name }}</p>
                    <br>
                    {% if sign.landscape %}
                    <img class="landscapescreenshot" src="{% url 'screenshot' %}/?hostname={{ sign.hostname }}" />
                    {% else %}
                    <img class="landscapescreenshot" src="{% url 'screenshot' %}/?hostname={{ sign.hostname }}" style="height: 320px; width: 180px;" />
                    {% endif %}
                </div>
                <div class="rightdiv">
                    {% if sign.online %}
                    <div class="online">
                        <img src="/static/check.svg" class="onlineimage"/>
                        <p class="onlinetext">ONLINE</p>
                    </div>
                    {% else %}
                    <div class="offline">
                        <img src="/static/x.svg" class="offlineimage"/>
                        <p class="offlinetext">OFFLINE</p>
                    </div>
                    {% endif %}
                    <a class="button" href="{% url 'reboot' %}/{{ sign.hostname }}">
                        <img class="buttonicon" src="/static/reboot.svg" />
                        Reboot
                    </a>
                    <br>
                    <a class="button" href="{% url 'terminal' %}/{{ sign.hostname }}">
                        <img class="buttonicon" src="/static/terminal.svg" />
                        Terminal
                    </a>
                    <br><!--
                    <a class="button" href="/main/vnc/{{ sign.hostname }}">
                        <img class="buttonicon" src="/static/monitor.svg" />
                        VNC
                    </a> -->
                </div>
            </div>
            {% endfor %} 
        </div>
    </body>
</html>
