body {
    padding: 0;
    margin: 0;
}

#navbar {
    background-color: #0048ab;
    padding: 1px;
    border: 24px;
}

#titletext {
    color: #eeeeee;
    font-family: sans;
    font-size: 32;
    text-align: center;
}

#logout {
   background-color: #0040a0;
   display: inline-block; 
}

#contentdiv {
    padding: 0px;
    margin: 0px;
    background-color: #f4f4f4;
    height: 100%;
    width: 100%;
}

.pi {
    border-radius: 1px;
    box-shadow: 0px 0px 14px -5px #141414;
    display: inline-block;
    padding: 15px;
    padding-top: 0px;
    margin: 10px;
}

.piname {
    font-size: 18px;
    font-family: sans;
    text-align: left;
    display: inline-block;
}

.landscapescreenshot {
    height: 180px;
    width: 320px;
}

.onlinetext {
    display: inline-block;
    vertical-align: middle;
    color: #2cc36b;
}

.onlineimage {
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
}

.offlinetext {
    display: inline-block;
    vertical-align: middle;
    color: #fa615c;
}

.offlineimage {
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
}

.leftdiv {
    float: left;
}

.rightdiv {
    float: right;
    padding-left: 30px;
}

.button {
    float: right;
    border: #dddddd solid;
    border-width: 1px;
    border-radius: 3px;
    font-family: Arial, sans;
    font-size: 14px;
    box-shadow: 1px 1px 1px 0px;
    padding: 2px 4px;
    margin: 4px 1px;
    background: linear-gradient(#f0f0f0, #eeeeee);
    color: inherit;
    text-decoration: none;
}

.button:hover {
    cursor: pointer;
    background: linear-gradient(#ececec, #e0e0e0);
}

.button:active {
    box-shadow: inset 0px 0px 2px 0px;
    background: linear-gradient(#e0e0e0, #dddddd);
}

.buttonicon {
    width: 11px;
    height: 11px;
}
